# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
* List popular languages of Data science
* List commonly used Data science libraries
* List open source tools for Data science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. Julia
7. C++

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. Pandas
4. SciPy
5. Matplotlib
6. Keras
7. Pytorch
8. Scikit-learn

|Data Science Tools|
|------------------|
| MongoDB |
| Apache Airflow|
| Kibana |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Samarth Kapoor